// Colors
$primary-color: #74C69D;
$light-color: #F5F5F5;
$dark-color: #212529;
$text-color: #FFFFFF;

// Typography
$font-main: 'Work Sans', sans-serif;
$font-heading: 'Crimson Text', serif;

// Spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;


// Layout Sizes
$footer-height: 125px;
$max-container: 1440px;

$border-radius: 0.5rem;
$transition-speed: 0.3s;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

